@import url(../fonts/79e13e.css);
/*------------------------------------------------------------------
[ T A B L E   O F   C O N T E N T S ]

Site: ia.net
Author: iA

1. Settings
2. Generic
3. Base (Pure HTML Elements)
4. Grid
5. Containers / Wrappers
6. Helpers


-------------------------------------------------------------------*/
/*
* 1. Settings
*/
/*------------------------------------------------------------------*/
/*
* 2. Generic
*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38096em;
  font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  color: #222; }

[lang='ja'] {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px; }

html[lang='ja'] #logo {
  font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif; }
html[lang='ja'] .item-list time {
  text-transform: none;
  padding-right: 8px; }
html[lang='ja'] .item-list time .month {
  width: 2.1em; }
html[lang='ja'] a:after {
  font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif; }
html[lang='ja'] body, html[lang='ja'] .site-wrapper {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.7em; }
html[lang='ja'] time, html[lang='ja'] .num, html[lang='ja'] footer {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
html[lang='ja'] small {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote {
  font-size: 1em; }

img {
  max-width: 100%; }

table {
  width: 100%; }

img.support-image {
  border: 1px solid rgba(0, 0, 0, 0.2); }

/*------------------------------------------------------------------*/
/*
* 3. Base
*/
h1 {
  text-align: center; }

h1 {
  margin: 0 0 1.38em 0; }

h2, h3, h4, h5 {
  margin: 1.38em 0 0 0; }

h2 {
  text-align: center;
  margin: 1.38em 0; }

p {
  margin: 0 0 1.38em; }

small {
  line-height: 1em; }

a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, transparent), color-stop(92%, #222), color-stop(95%, #fdfdfd), color-stop(84%, transparent));
  background-image: -webkit-linear-gradient(to bottom, transparent 94%, #222 96%, #222 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 94%, #222 96%, #222 100%);
  background-image: -o-linear-gradient(to bottom, transparent 94%, #222 96%, #222 100%);
  background-image: linear-gradient(to bottom, transparent 94%, #222 96%, #222 100%);
  text-decoration: none;
  color: #222; }

a.active {
  background-clip: border-box;
  background: #222 !important;
  text-decoration: none;
  border-radius: 2px;
  text-shadow: none;
  padding: 1px;
  color: #fff; }

pre, code {
  background-color: #f2f2f2;
  font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: pre;
  padding: 0 0.5em;
  margin: 1.38em 0;
  color: #222; }

pre {
  padding: 1.38em; }

pre code {
  padding: 0;
  margin: 0; }

ol, ul {
  padding: 0; }
  ol ul, ul ul {
    list-style: none;
    padding: 0; }
  ol ul > li:before, ul ul > li:before {
    content: "–";
    position: relative;
    left: -0.5em; }
  ol ul > li, ul ul > li {
    text-indent: -0.5em; }
  ol ol, ol ul, ul ol, ul ul {
    margin: 1.38em 0; }
    ol ol ul, ol ol ol, ol ul ul, ol ul ol, ul ol ul, ul ol ol, ul ul ul, ul ul ol {
      text-indent: 0; }
  @media only screen and (max-width: 480px) {
    ol, ul {
      margin-left: 1em; } }

figure {
  margin: 0 0 1em 0;
  text-align: center; }
  figure img {
    margin: 0 auto; }
  figure figure a:after {
    display: none; }
  figure figcaption {
    text-align: left;
    font-style: italic;
    margin-top: 0.333em;
    font-size: 0.95em;
    line-height: 1.3em; }
  figure.right img, figure.left img {
    margin-top: 0.3333em; }
  figure.left + .left {
    padding-left: 1em;
    padding-right: 0; }
  figure.right {
    float: right;
    width: 50%;
    padding-left: 1em; }
  figure.left {
    float: left;
    width: 50%;
    padding-right: 1em; }
  figure.bled, figure.bleed {
    margin: 1em -2em; }
  @media only screen and (max-width: 480px) {
    figure.right, figure.left {
      float: none;
      width: 100%;
      padding: 0px; }
      figure.right.left + .left, figure.left.left + .left {
        padding: 0px; } }

blockquote {
  border: none;
  max-width: 80%;
  margin: 1em auto 1.38em auto; }
  blockquote p:first-of-type:before {
    margin-left: -0.5em;
    width: 0.5em;
    content: '“'; }
  blockquote p:last-of-type:after {
    content: '”'; }
  blockquote p ~ p {
    margin: -0.8em 0 1.38em 0;
    text-indent: 0; }

blockquote + div {
  margin: -1.38em auto 1.38em auto;
  font-style: italic;
  max-width: 80%; }
  blockquote + div:before {
    content: '– '; }

hr {
  display: inline-block;
  background: none;
  margin: 1.38em 0;
  border: none;
  width: 100%; }
  hr:after {
    display: inline-block;
    letter-spacing: 4px;
    text-align: center;
    content: '***';
    width: 100%; }

table {
  margin: 0 0 1.38em;
  font-size: 0.9em; }
  table tr {
    border-bottom: 1px solid #222; }
  table td, table th {
    vertical-align: top;
    padding: 0 1em; }
  table td:first-child, table th:first-child {
    padding-left: 0; }
  table td:last-child, table th:last-child {
    padding-right: 0; }

footer {
  margin-top: 0em;
  font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: lowercase; }
  footer a.active {
    font-weight: normal;
    text-decoration: none; }

header {
  text-align: center;
  padding: 4.14em 20px 2.76em 20px; }

a[href*="//"]:not([href*="ia."]):after {
  content: "⇗";
  text-shadow: none;
  background: white; }

/*------------------------------------------------------------------*/
/*
* 4. Grid
*/
.cols {
  margin-left: -24px;
  width: 100%; }
  .cols:after {
    content: "";
    display: table;
    clear: both; }
  .cols .col {
    padding-left: 24px;
    float: left;
    min-height: 1px;
    width: 100%; }
  .cols .col:last-child:after {
    content: "";
    display: table;
    clear: left; }
  @media only screen and (max-width: 480px) {
    .cols {
      margin: 0; }
      .cols .col {
        padding: 0; } }

/*------------------------------------------------------------------*/
/*
* 5. Containers
*/
@-webkit-keyframes starwarsLetterSend {
  50% {
    -webkit-transform: rotateX(50deg) translate3d(0, 0, 0);
    transform: rotateX(50deg) translate3d(0, 0, 0); }

  100% {
    -webkit-transform: rotateX(50deg) translate3d(0, -160px, 0);
    transform: rotateX(50deg) translate3d(0, -160px, 0);
    opacity: 0; } }

/* Standard syntax */
@keyframes starwarsLetterSend {
  50% {
    -webkit-transform: rotateX(50deg) translate3d(0, 0, 0);
    transform: rotateX(50deg) translate3d(0, 0, 0); }

  100% {
    -webkit-transform: rotateX(50deg) translate3d(0, -160px, 0);
    transform: rotateX(50deg) translate3d(0, -160px, 0);
    opacity: 0; } }

.sending {
  -webkit-animation: starwarsLetterSend 0.8s ease-in-out forwards;
  -moz-animation: starwarsLetterSend 0.8s ease-in-out forwards;
  -animation: starwarsLetterSend 0.8s ease-in-out forwards; }

.writer-cta a {
  background: none !important;
  padding-right: 0px !important; }
.writer-cta p {
  margin-top: 1em; }

.writer-videos ul {
  list-style: none;
  padding: 0;
  margin: 0; }
.writer-videos img {
  float: left; }
.writer-videos a:after {
  display: none; }

.app-store-link:after {
  content: "" !important; }

/*
* Page Width & Main Responsive Changes
*/
.site-wrapper {
  padding: 0 1.38em;
  max-width: 820px;
  margin: 0 auto;
  font-size: 21px; }
  @media only print {
    .site-wrapper {
      font-size: 14px;
      line-height: 20px;
      margin-left: 15%;
      margin-right: 10%; } }
  @media only screen and (max-width: 768px) {
    .site-wrapper {
      font-size: 18px;
      padding: 0 7.5%;
      line-height: 1.35em; } }
  @media only screen and (max-width: 480px) {
    .site-wrapper {
      font-size: 18px;
      padding: 0 0.5em 0 1em; } }

.articleNav {
  position: absolute; }
  .articleNav a {
    background: none;
    background-color: rgba(255, 255, 255, 1e-05);
    text-shadow: none;
    white-space: nowrap;
    position: fixed;
    height: 100%;
    width: 5%;
    padding: 8px;
    top: 0px; }
  .articleNav__previous {
    left: 0px; }
  .articleNav__next {
    right: 0px; }
  .articleNav__previous span {
    -webkit-transform: translate3d(-8px, 0, 0);
    -moz-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0);
    float: left; }
  .articleNav__next span {
    -webkit-transform: translate3d(8px, 0, 0);
    -moz-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
    right: 8px; }
  .articleNav span {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
    background-color: #000;
    display: inline-block;
    border-radius: 3px;
    position: fixed;
    color: #fff;
    padding: 8px;
    opacity: 0;
    top: 33.33333%; }
  .articleNav a:hover span, .articleNav span:hover {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }

header a, header a:hover {
  background: none; }

/*
* Container Specific Styles
*/
.hyphenate {
  /* writer style list items */ }
  .hyphenate img {
    display: block;
    height: auto;
    margin: 1em auto; }
  .hyphenate p {
    text-align: justify; }
    @media only screen and (max-width: 480px) {
      .hyphenate p {
        text-align: left; } }
  .hyphenate p + p {
    text-indent: 2em;
    margin-top: -1.38em; }
  .hyphenate figure + p {
    margin-top: 0;
    text-indent: 0; }
  .hyphenate h1 + time {
    margin-top: -1.4em; }
  .hyphenate > p:first-of-type {
    font-weight: bold; }
    .hyphenate > p:first-of-type + * {
      text-indent: 0;
      margin-top: 1em; }
  .hyphenate ul {
    list-style: none;
    padding: 0; }
  .hyphenate ul li:before {
    content: "–";
    position: relative;
    left: -0.5em; }
  .hyphenate ul li {
    text-indent: -0.5em; }
  .hyphenate time {
    margin-bottom: 1.38em;
    text-align: center;
    font-style: italic;
    display: block; }

section.article-list .cols .col:first-child ul {
  margin-top: 0; }
section.article-list .item-list h3 {
  margin-top: 0; }
section.article-list .item-list a {
  text-decoration: none; }
section.article-list time + a {
  display: table-cell; }
section.article-list .article-types {
  list-style: none;
  padding: 0;
  margin: 0 0 1.38em 0; }
@media only screen and (max-width: 480px) {
  section.article-list a.active {
    font-weight: bold; } }
section.article-list .col {
  width: 25%; }
  @media only screen and (max-width: 480px) {
    section.article-list .col {
      width: 100%; } }
section.article-list .col + .col {
  width: 75%; }
  @media only screen and (max-width: 480px) {
    section.article-list .col + .col {
      width: 100%; } }

section.writer-cta {
  margin-bottom: 2em; }
  section.writer-cta a {
    text-decoration: none; }
  section.writer-cta .price {
    min-height: 1px;
    line-height: 1em;
    margin: 1em 0; }
  section.writer-cta .col {
    width: 33.33333%;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      section.writer-cta .col {
        width: 100%; } }
  @media only screen and (max-width: 480px) {
    section.writer-cta img {
      max-width: 65%;
      margin: 0.5em auto;
      display: block; } }

section.nav, section.nav-writer, section.addresses {
  margin-top: 1.38em; }
  section.nav .col, section.nav-writer .col, section.addresses .col {
    width: 33.33333%; }
    @media only screen and (max-width: 480px) {
      section.nav .col, section.nav-writer .col, section.addresses .col {
        width: 100%; } }
  section.nav .success, section.nav-writer .success, section.addresses .success {
    display: none; }

section.nav-writer {
  margin-top: 0; }

section.logo + section .nav, section.logo + section .nav-writer, section.logo + section .addresses, section.logo + .nav {
  margin-top: 0; }

section.addresses, section.writer-bugreport {
  -webkit-perspective-origin: 50% 50%;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective: 800;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  perspective: 800; }

section.clients-and-projects-list h3 {
  margin-top: 0; }
section.clients-and-projects-list img {
  margin-top: 8px;
  max-width: 144px; }
  @media only screen and (max-width: 480px) {
    section.clients-and-projects-list img {
      margin-bottom: 1em; } }
section.clients-and-projects-list .col {
  width: 25%; }
  @media only screen and (max-width: 480px) {
    section.clients-and-projects-list .col {
      width: 100%; } }
section.clients-and-projects-list .col + .col {
  width: 75%; }
  @media only screen and (max-width: 480px) {
    section.clients-and-projects-list .col + .col {
      width: 100%; } }

section.separator {
  letter-spacing: 3px;
  text-align: center;
  margin-top: 2em; }

.writer-features .cols {
  margin-bottom: 1.5em;
  margin-top: 1.5em; }
  .writer-features .cols h3 {
    margin-top: 0; }
    .writer-features .cols h3 span.pro {
      color: #2daee1; }
      .writer-features .cols h3 span.pro:before {
        content: "*"; }
      .writer-features .cols h3 span.pro:after {
        content: "*"; }
  .writer-features .cols .col {
    width: 66.66667%; }
    @media only screen and (max-width: 480px) {
      .writer-features .cols .col {
        width: 100%; } }
  .writer-features .cols .col + .col {
    width: 33.33333%; }
    @media only screen and (max-width: 480px) {
      .writer-features .cols .col + .col {
        width: 100%; } }
  @media only screen and (max-width: 480px) {
    .writer-features .cols .col:nth-child(2) {
      text-align: center; }
      .writer-features .cols .col:nth-child(2) img {
        max-width: 60%; }
 }

.feature:nth-child(even) .cols div:first-child {
  float: right; }

#logo {
  font-size: 50px;
  text-decoration: none;
  background: none; }

.item-list {
  display: table;
  list-style: none;
  margin: 0px 0 1em 0;
  padding: 0; }
  .item-list time {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    white-space: nowrap; }
  .item-list time .year {
    display: inline-block;
    width: 2.5em; }
  .item-list time .month {
    display: inline-block;
    width: 1.6em; }
  .item-list time .date {
    display: inline-block;
    width: 1.5em; }
  .item-list li {
    display: table-row; }
  .item-list time {
    display: table-cell;
    padding-right: 2px; }
  .item-list time + span {
    display: table-cell; }
  .item-list img {
    width: 100%;
    max-width: 100px;
    margin-top: 2em; }
  .item-list.item-list--projects, .item-list.item-list--updates {
    margin-top: -0.8em;
    margin-bottom: 1.38em; }

section.support {
  margin-top: 1em; }
  section.support .num {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nav-support .num {
  font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.nav-support ul {
  list-style: none;
  padding-left: 0; }
  .nav-support ul a {
    white-space: pre-line; }
.nav-support nav > ul a.active:after {
  font-weight: normal;
  display: inline-block; }
.nav-support .col.first {
  width: 20%; }
.nav-support .col.second {
  width: 38%; }
.nav-support .col.third {
  width: 42%; }
@media only screen and (max-width: 480px) {
  .nav-support .col.first, .nav-support .col.second, .nav-support .col.third {
    width: 100%; } }

footer {
  text-align: center; }
  footer nav ul {
    padding: 0;
    margin: 0; }
  footer nav li {
    list-style: none;
    display: inline-block; }
    footer nav li:before {
      content: "|"; }
    footer nav li:first-child:before {
      content: " "; }
  footer a.active {
    background: transparent !important;
    color: #222; }
  footer .copyright p {
    padding-bottom: 1em;
    margin: 0; }
  footer .no-underline a {
    background: none; }

.form {
  transition: margin 0.5s ease-in-out;
  border: 1px solid #222;
  background: white;
  padding: 1em; }
  .form input, .form textarea, .form button {
    -webkit-appearance: none; }
  .form.expanded {
    margin-bottom: 1.38em; }
  .form__success {
    display: none; }
  .form--sent {
    height: 0 !important;
    /*overwrite inline style*/ }
  .form--sent + .success {
    display: block !important; }
  .form__sender {
    float: right;
    max-width: 320px; }
  .form__footer p {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1em;
    color: #666; }
  .form__footer .form__footer__note {
    display: none; }
  .form .float-label span {
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0);
    opacity: 1; }
  .form label {
    position: relative; }
  .form label input {
    border: none;
    border-bottom: 1px solid #222;
    padding-bottom: 2px;
    outline: none;
    width: 100%; }
  .form label span {
    -webkit-transform: translate3d(0px, 8px, 0);
    -moz-transform: translate3d(0px, 8px, 0);
    transform: translate3d(0px, 8px, 0);
    transition: all 0.3s ease-in-out;
    vertical-align: bottom;
    line-height: 1em;
    font-size: 0.65em;
    opacity: 0.01;
    /* for browsers with broken box model */ }
  .form textarea {
    margin-top: 1em;
    width: 100%;
    border: none;
    outline: none;
    resize: none; }
  .form__footer {
    display: block;
    text-align: right; }
  .form input[type="submit"] {
    transition: all 0.15s ease-in-out;
    border: 1px solid #111;
    display: inline-block;
    line-height: 1em;
    padding: 0.75em 1em;
    background: #fff; }
    @media only screen and (max-width: 480px) {
      .form input[type="submit"] {
        background: #111;
        color: white;
        width: 100%; } }
    .form input[type="submit"]:hover {
      background: #111;
      color: #fff; }
  .form + .success {
    display: block; }
  .form--newsletter {
    padding-top: 0px; }
    .form--newsletter form {
      padding-top: 0; }
    .form--newsletter label {
      display: inline-block;
      width: 66.6666%; }
    .form--newsletter input[type="email"] {
      border: none; }
    .form--newsletter input[type="submit"] {
      display: inline-block;
      width: 33.3333%; }
    @media only screen and (max-width: 480px) {
      .form--newsletter input[type="submit"] {
        padding-left: 5px;
        padding-right: 5px; }
 }
  .form + .confirmation {
    transition: visibility 0s linear 0s, opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.7s, height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    height: 0px;
    opacity: 0; }
  .form.sent + .confirmation {
    visibility: visible;
    height: 4em;
    opacity: 1; }

form {
  display: none; }
  form input, form textarea, form input[type="submit"], form button {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

form.invalid {
  -webkit-animation: shake 0.8s ease-in-out forwards;
  -moz-animation: shake 0.8s ease-in-out forwards;
  -animation: shake 0.8s ease-in-out forwards; }

form[novalidate] label input.ui-state-error {
  background: rgba(255, 0, 0, 0.1);
  border-bottom-color: #cc0000; }
form[novalidate] textarea.ui-state-error {
  background: rgba(255, 0, 0, 0.1); }

/*------------------------------------------------------------------*/
/*
* 6. Helpers
*/
.resp-wrapper {
  position: relative;
  margin-bottom: 1em;
  height: 0; }
  .resp-wrapper iframe, .resp-wrapper object, .resp-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.aspect-16-9 {
  padding-bottom: 56.25%;
  /* widescreen videos */ }

.aspect-4-3 {
  padding-bottom: 75%;
  /* TV videos */ }

.aspect-5-4 {
  padding-bottom: 81.41%;
  /* Slideshare */ }

.aspect-3-4 {
  padding-bottom: 133.3%;
  /* iPad portrait */ }

.text-center {
  text-align: center; }
